<section class="resources flexrow">
  <div class="resource flexrow flex-group-center">
    <div class="resource-label">{{localize "SMT.resources.hp"}}</div>
    <input type="text" name="system.hp.value" value="{{system.hp.value}}" placeholder="0" data-dtype="Number" />
    <span>/</span>
    <input type="text" name="system.hp.max" value="{{system.hp.max}}" placeholder="0" data-dtype="Number" />
  </div>

  <div class="resource flexrow flex-group-center">
    <div class="resource-label">{{localize "SMT.resources.mp"}}</div>
    <input type="text" name="system.mp.value" value="{{system.mp.value}}" placeholder="0" data-dtype="Number" />
    <span>/</span>
    <input type="text" name="system.mp.max" value="{{system.mp.max}}" placeholder="0" data-dtype="Number" />
  </div>

  <div class="resource flexrow flex-group-center">
    <div class="resource-label">{{localize "SMT.resources.fp"}}</div>
    <input type="text" name="system.fp.value" value="{{system.fp.value}}" placeholder="0" data-dtype="Number" />
    <span>/</span>
    <input type="text" name="system.fp.max" value="{{system.fp.max}}" placeholder="0" data-dtype="Number" />
  </div>
</section>